@import 'utilities.css';
:root{
    --primary: #d16144;
    --dark: #242424;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #2F2F2F;
    --secondary: #070606;
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    font-family: 'Dancing Script', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header {
    background: var(--dark);
    height: 800px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}
.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 900px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1152px;
    }
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding: 3rem 0;
}

.hero .left img{
    width: 400px;
}

.hero .right {
    color: var(--pure);
    margin-top: 2rem;
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

section{
    padding: 6rem 0;
}

section.about{
    margin-bottom: 7rem;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}

section.about .social a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background-image: url(../images/circle.jpg);
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--primary);
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Caveat', cursive;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 2rem;
}

.section-heading span{
    color: var(--primary);
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
}

section.services{
    background: var(--light);
}

section.services .card-wrapper .card{
    background: var(--primary);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all .3s ease;
}

section.services .card-wrapper .card img{
    color: var(--pure);
    position: absolute;
    top: -2.0rem;
    left: 50%; 
    transform: translateX(-50%);

}

section.services .card-wrapper .card h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

section.services .card-wrapper .card p{
    font-size: 1.1rem;
}

section.services .card-wrapper .card:hover{
    background: var(--pure);
}

section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover h3{
    color: var(--primary);
}

section.sem {
    height: 1000px;
    background: var(--pure);
    font-family: cursive;
    margin: 5rem 2rem;
}

section.sem h1{
    text-align: center;
    color: var(--dark);
    font-size: 4rem;
    background: var(--primary);
    clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%);
}

section.sem .table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.1rem;
    background: var(--pure);
    color: var(--primary);
    margin-top: 2rem;
    text-align: center;
}

section.sem .table .cell{
    background: var(--dark);
    transition: all .3s ease;
}

section.sem .table .cell h2{
    margin: 2rem 2rem;
}

section.sem .table .cell p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

section.sem .table .cell:hover{
    background: var(--primary);
    color: var(--dark);
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact input:focus, section.contact textarea:focus{
    outline: none;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
    height: 300px;
}

footer .footer-logo{
    margin-bottom: 2rem;
}

footer .footer-socials{
    display: flex;
    position: absolute;
    margin-left: 50%;
    margin-top: 0rem;
    transform: translateX(-45%);
}

footer .footer-socials a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .3s ease;
}

footer .footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

footer .footer-socials a img:hover{
    background-image: url(../images/circle.jpg);
    border-radius: 50%;
}

footer .copyright{
    color: var(--ternary);
    margin-top: 5rem;
}

footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}

footer .copyright span{
    color: var(--primary);
}

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.hamberger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
}

.mobile-nav img.none{
    display: none;
}

.mobile-nav ul{
    list-style-type: none;
    margin-top: 3rem;
}

.mobile-nav ul li{
    margin-bottom: 1rem;
}

.mobile-nav ul li a{
    color: var(--primary);
    text-decoration: none;
    font-size: 2rem;
}

@media (max-width: 576px){
    header #main-nav{
        display: none;
    }

    .hamberger{
        display: block;
    }

    .hero .left img{
        width: 200px;
    }
    .hero .right{
        margin-top: 10rem;
    }
    .hero .right h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-left: -2rem;
        margin-top: 1rem;
    }
    header{
        height: 500px;
        clip-path: polygon(0 0,100% 0, 100% 100%, 27% 89%, 0 100%);
        margin-bottom:0.01rem;
    }
    .hero .right h6{
        font-size: 2rem;
    }
    .hero .right p{
        font-size: 1rem;
        line-height: 1.4;
        margin-left: -7rem;
        margin-top: 1rem;
        text-align: center;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    section.about .about-me-img{
        height: 300px;
        margin-bottom: 2rem;
    }
    section.about .right{
        text-align: center;
    }
    section.about h1{
        font-size: 2rem;
    }
    section.about h3{
        font-size: 1.5rem;
    }
    section.about p{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    section.about{
        height: 620px;
    }
    section.about .right .social{
        justify-content: center;
    }
    section.services .card-wrapper{
        grid-template-columns: 1fr;
        grid-row-gap: 4rem;
    }
    section.services .card-wrapper .card{
        margin: 0 3rem;
    }
    section.sem{
        height: 900px;
    }
    section.sem h1{
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    section.sem .table .cell h2{
        font-size: 1rem;
    }
    section.sem .table .mobile-cell{
        display: none;
    }
    section.sem .table{
        grid-template-columns: 1fr;
        grid-row-gap: 1.5rem;
    }
    section.contact .card-wrapper{
        grid-template-columns: 1fr;
        grid-row-gap: 0.1rem;
    }
    section.contact .card-wrapper .card h6{
        font-size: 1.3rem;
    }
    section.contact form .input-wrap{
        grid-template-columns: 1fr;
    }
}

.branding img{
    display: none;
}

footer a img.footer-logo{
    display: none;
}
