@import 'utilities.css';
:root{
    --primary: #d16144;
    --dark: #242424;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #2F2F2F;
    --secondary: #070606;
}
body{
    font-family: 'Dancing Script', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header {
    background: var(--dark);
    height: 750px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}
.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding: 3rem 0;
}

.hero .left img{
    width: 400px;
}

.hero .right {
    color: var(--pure);
    margin-top: -7rem;
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}

section.about .social a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background-image: url(../images/circle.jpg);
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--primary);
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Caveat', cursive;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 2rem;
}

.section-heading span{
    color: var(--primary);
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
}

section.services{
    background: var(--light);
}

section.services .card-wrapper .card{
    background: var(--primary);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all .3s ease;
}

section.services .card-wrapper .card img{
    color: var(--pure);
    position: absolute;
    top: -2.0rem;
    left: 50%; 
    transform: translateX(-50%);

}

section.services .card-wrapper .card h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

section.services .card-wrapper .card p{
    font-size: 1.1rem;
}

section.services .card-wrapper .card:hover{
    background: var(--pure);
}

section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover h3{
    color: var(--primary);
}

section.sem {
    height: 1000px;
    background: var(--pure);
    font-family: cursive;
    margin: 0 2rem;
}

section.sem h1{
    text-align: center;
    color: var(--dark);
    font-size: 4rem;
    background: var(--primary);
    clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%);
}

section.sem .table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.1rem;
    background: var(--pure);
    color: var(--primary);
    margin-top: 2rem;
    text-align: center;
}

section.sem .table .cell{
    background: var(--dark);
    transition: all .3s ease;
}

section.sem .table .cell h2{
    margin: 2rem 2rem;
}

section.sem .table .cell p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

section.sem .table .cell:hover{
    background: var(--primary);
    color: var(--dark);
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact input:focus, section.contact textarea:focus{
    outline: none;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
    height: 300px;
}

footer .footer-logo{
    margin-bottom: 2rem;
}

footer .footer-socials{
    display: flex;
    position: absolute;
    margin-left: 50%;
    margin-top: 0rem;
    transform: translateX(-45%);
}

footer .footer-socials a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .3s ease;
}

footer .footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

footer .footer-socials a img:hover{
    background-image: url(../images/circle.jpg);
    border-radius: 50%;
}

footer .copyright{
    color: var(--ternary);
    margin-top: 5rem;
}

footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}

footer .copyright span{
    color: var(--primary);
}

/*section.about .social{
    display: flex;
}

section.about .social a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background-image: url(../images/circle.jpg);
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--primary);
}
*/